$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
$font-size: 14px;
$backgroud-color: #fff;
$text-color: #444;
$border-color: #e4e4e4;
$primary-color: #e91e63;
$link-color: #e91e63;
$color-violet: #8360c3;
$color-orange: #ff9800;
$color-green: #cddc39;
$color-yellow: #ffc107;
$color-pink: #e91e63;
$color-dark: #2c2c2c;
$color-info: #00bcd4;
$color-gray: #808080;
$color-success: #71be34;
$color-warning: #ff9800;
$color-danger: #e91e63;
$transparent-color: rgb(255 255 255 / 0%);
$section-header-height: 60px;
$section-header-color: #222;
$section-header-text-color: #d9d9d9;
$side-nav-width: 300px;
