.alert {
    color: #4a4a4a;
    background-color: #f1f3f4;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 15px 0;

    @at-root #{selector-append(&, &, "--success")} {
        color:#468847;
        background-color:#dff0d8;
        border-color:#d6e9c6;
    }
    
    @at-root #{selector-append(&, &, "--error")} {
        color:#b94a48;
        background-color:#f2dede;
        border-color:#eed3d7;
    }
    
    @at-root #{selector-append(&, &, "--warning")}  {
        color:#c09853;
        background-color:#fcf8e3;
        border-color:#ffd88e;
    }
    
    @at-root #{selector-append(&, &, "--info")} {
        color: #3a87ad;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}