.box {
  position: relative;
  border-radius: 10px;
  //color: #4a4a4a;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  // box-shadow: rgb(67 86 101 / 0%) 0 1px 2px 0,
  //   rgb(56 89 113 / 13%) 0 1px 6px 0px;

  %before_after {
    &::before {
      content: " ";
      display: table;
    }
    &::after {
      content: " ";
      display: table;
      clear: both;
    }
  }

  $parent: &;

  &.box--list {
    box-shadow: none;
    //padding: 10px;
    margin: 0;
    margin-bottom: 10px;

    #{$parent}__body {
      padding: 0;
      /*
            &:hover .active:not(:hover)
                background: unset;
                color: $text-color;
            }
            */
      &-item {
        display: flex;
        align-items: center;
        padding: 10px {
          left: 14px;
        }
        color: #323251;

        &.active {
          background: #f1f3f4;
          border-radius: 10px;
          color: $primary-color;
          i {
            color: $primary-color;
          }
        }
        &:hover:not(.active) {
          background: #f1f3f4;
          border-radius: 10px;
          color: #000000;
        }
      }
    }

    #{$parent}__body-item + #{$parent}__body-item {
      margin-top: 5px;
    }

    #{$parent}__body {
      @include responsive-max(768px) {
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        &-item {
          margin-top: 0 !important;
        }
      }
    }
  }

  &__header {
    @extend %before_after;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #e8edf0;
    padding: 10px 0;
    background-color: #fff;
    color: #464951;
    border-radius: 10px 10px 0 0;
    .action {
      margin-left: auto;
    }
  }

  &__body {
    @extend %before_after;
    border-radius: 0;
    padding: 1rem 0;

    &.reverse {
      display: flex;
      flex-direction: column-reverse;
    }

    &-item {
      display: flex;
      padding: {
        top: 5px;
        bottom: 5px;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.4rem;
      }

      .item {
        &-icon {
          display: inline-block;
          width: 16px;
          height: 16px;
          text-align: center;
          margin-right: 8px;
          opacity: 0.9;
        }
        &-title {
          font-weight: 600;
          opacity: 0.9;
        }
        &-text {
          white-space: nowrap;
          padding-left: 5px;
          //opacity: .7;
        }
      }
    }
  }

  &__footer {
    @extend %before_after;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #f4f4f4;
    padding: 10px 0;
    background-color: #fff;
  }
}
