.pagination_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-flow: wrap;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 0 0 5px 5px;
  margin-top: 10px;
  padding: 10px {
    top: 0;
  }

  .page {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #444;
    padding: 4px 10px;
    font-weight: 600;
    margin-bottom: 5px;
    border-radius: 10px;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      background: #e1e2e7;
    }
    &.active {
      background: $primary-color;
      color: #fff;
      cursor: auto;
    }
  }
  .page + .page {
    margin-left: 5px;
  }
}
