.smiley-list-box {
  padding: 10px;
  border-radius: 10px;
  background: #f1f3f4;
  margin-bottom: 1rem;
  &__header {
    display: flex;
    align-items: center;
    .smiley-name {
      font-size: 1.1rem;
      font-weight: 600;
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .smiley-user {
      margin-left: auto;
    }
  }
  &__body {
    margin-top: 10px;
    border-radius: 10px;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: auto;
    max-height: 300px;
    overflow: auto;
    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: 100px;
      border-radius: 5px;
      object-fit: cover;
      background-color: #fff;
      border: 2px solid #eff3f6;
    }
  }
}

.smiley-edit-box {
  &__item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: auto;
    height: auto;
    > img {
      min-width: 80px;
      max-width: 80px;
      max-height: 80px;
      min-height: 80px;
      margin-right: 10px;
      border: 1px solid $border-color;
      border-radius: 5px;
    }
  }
  .form-group {
    width: 100%;
  }
}
