.messenger-chat {
  background: #fff;
  border: 1px solid #e4e6eb;
  border-radius: 10px;
  box-shadow: 0 1px 3px #e4e6eb;
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px;
  transition: 0.3s all ease;
}
.messenger-chat__user {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  color: #fff;
  z-index: 1;
}
.messenger-chat__user-avatar {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 50px;
  min-width: 50px;
}
.messenger-chat__user-name {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.messenger-chat__user-actions {
  margin-left: auto;
}
.messenger-chat__user-actions .drop-menu__button {
  color: #333;
}
.messenger-chat__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 5px;
  position: relative;
  transition: 0.3s all ease;
  height: 40px;
  opacity: 0;
  transform: translateY(-40px);
}
.messenger-chat__loading.show {
  opacity: 1;
  transform: translateY(0px);
}
.messenger-chat__loading.show + .messenger-box__messages {
  margin-top: 0;
}
.messenger-chat__loading-text {
  margin-left: 5px;
}
.messenger-chat__messages {
  margin-top: -40px;
  background-color: #fff;
  transition: 0.3s all ease;
  overflow-y: auto;
  max-height: 500px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05) inset;
}
.messenger-chat__messages::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.messenger-chat__messages::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(110, 110, 110, 0);
}
.messenger-chat__messages::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
  transition: color 0.2s ease;
}
.messenger-chat__messages::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
.messenger-chat__messages .message-time {
  line-height: 0.8rem;
  font-size: 0.8rem;
  text-align: center;
  padding: 8px;
}
.messenger-chat__messages .message-time:first-child {
  padding-top: 20px;
}
.messenger-chat__messages .message-break {
  display: block;
  width: 100%;
  height: 7px;
}
.messenger-chat__messages .message-item {
  display: flex;
  align-items: end;
  position: relative;
  padding: 1px 10px;
}
.messenger-chat__messages .message-item.show-info {
  margin-bottom: 5px;
}
.messenger-chat__messages .message-item.show-info .message-item__msg-time {
  opacity: 1;
  height: 28px;
  padding: 8px;
  transform: translateY(0);
}
.messenger-chat__messages .message-item.show-info .message-item__msg-seen {
  opacity: 1;
  height: 20px;
  padding: 5px;
  transform: translateY(0);
}
.messenger-chat__messages .message-item__avatar {
  height: 32px;
  width: 32px;
  min-width: 32px;
  min-height: 32px;
  margin-right: 10px;
}
.messenger-chat__messages .message-item__avatar span {
  font-size: 1.2rem;
}
.messenger-chat__messages .message-item__msg {
  width: 100%;
  overflow: hidden;
}
.messenger-chat__messages .message-item__msg-text {
  color: #050505;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  padding: 6px 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  display: inline-block;
  cursor: pointer;
  word-break: break-all;
  text-align: left;
  margin-right: 40px;
}
.messenger-chat__messages .message-item__msg-text img {
  position: relative;
  width: auto;
  max-width: 100%;
}
.messenger-chat__messages .message-item__msg-text img.comment-smiley-icon {
  max-width: 80px;
  max-height: 80px;
  max-width: 100%;
}
.messenger-chat__messages .message-item__msg-time {
  opacity: 0;
  height: 0;
  line-height: 0.8rem;
  font-size: 0.8rem;
  text-align: center;
  padding: 0;
  left: -20px;
  position: relative;
  transition: 0.3s all ease;
  transform: translateY(100%);
}
.messenger-chat__messages .message-item__msg-seen {
  opacity: 0;
  height: 0;
  font-size: 0.8rem;
  line-height: 0.8rem;
  transition: 0.3s all ease;
  transform: translateY(100%);
  padding: 0 5px;
}
.messenger-chat__messages .message-item__msg-seen strong {
  color: #65676b;
}
.messenger-chat__messages .message-item__last-seen {
  width: 16px;
  min-width: 16px;
  min-height: 16px;
  height: 16px;
  margin-right: -8px;
  margin-left: 2px;
  color: #e4e6eb;
  text-align: center;
}
.messenger-chat__messages .message-item.message-item--reply {
  justify-content: end;
}
.messenger-chat__messages .message-item.message-item--reply .message-item__msg {
  text-align: right;
}
.messenger-chat__messages .message-item.message-item--reply .message-item__msg-text {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #050505;
  background: #e4e6eb;
  border: 0;
  margin-right: 0px;
  margin-left: 40px;
}
.messenger-chat__messages .message-item.message-item--reply .message-item__msg-time {
  left: 5px;
}
.messenger-chat__messages .message-nothing {
  height: 10px;
}
.messenger-chat__messages .message-group:last-child {
  margin-bottom: 10px;
}
.messenger-chat__messages .message-group > .message-item .message-item__avatar {
  visibility: hidden;
}
.messenger-chat__messages .message-group > .message-item:nth-child(2n) .message-item__msg-text {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.messenger-chat__messages .message-group > .message-item:first-child .message-item__msg-text {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.messenger-chat__messages .message-group > .message-item:last-child .message-item__avatar {
  visibility: visible;
}
.messenger-chat__messages .message-group > .message-item:last-child .message-item__msg-text {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
.messenger-chat__messages .message-group > .message-item.message-item--reply:nth-child(2n) .message-item__msg-text {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.messenger-chat__messages .message-group > .message-item.message-item--reply:first-child .message-item__msg-text {
  border-bottom-right-radius: 5px;
}
.messenger-chat__messages .message-group > .message-item.message-item--reply:last-child .message-item__msg-text {
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
.messenger-chat__messages .message-time + .message-group > .message-item:first-child .message-item__msg-time {
  display: none;
}
.messenger-chat__editor {
  padding: 10px;
  border-top: 1px solid #e4e4e4;
}
.messenger-chat__editor textarea {
  min-height: auto !important;
  height: 20px;
}
.messenger-chat__editor .validate-error-message {
  margin-bottom: 10px;
  color: #ff623d;
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 10px;
  background: #ffc2bd;
  border-radius: 10px;
}

.messenger-type {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  position: relative;
  color: #4c4c4c;
  border-radius: 10px;
  margin: 0;
  margin-bottom: 10px;
}
.messenger-type .inbox-status__button {
  display: inline-block;
  margin: 10px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 5px;
  border-radius: 50px;
  padding: 6px 12px;
  color: #242424;
  background: #f2f4f7;
}
.messenger-type .inbox-status__button:last-child {
  margin-right: 0;
}
.messenger-type .inbox-status__button:hover:not(.active) {
  background: #e1e1e1;
}
.messenger-type .inbox-status__button.active {
  color: #fff;
  background: var(--primary-button-default);
}
.messenger-type .inbox-search {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: auto;
  position: relative;
  border-radius: 50px;
  background-color: #f0f0f0;
  padding: 10px;
  padding-left: 15px;
  padding-right: 38px;
  max-width: 100%;
  height: 36px;
  border: 1px solid #eee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.messenger-type .inbox-search:focus-within {
  border: 1px solid #b4bdd3;
  box-shadow: 0 0 0 3px rgba(228, 230, 235, 0.68);
}
.messenger-type .inbox-search__icon {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  color: #333333;
  opacity: 0.7;
  position: absolute;
  right: 4px;
}
.messenger-type .inbox-search__icon.icon-cancel {
  margin-left: 5px;
  cursor: pointer;
}
.messenger-type .inbox-search__icon.icon-cancel:hover {
  background: #d9d9d9;
}
.messenger-type .inbox-search__icon.icon-cancel i::before {
  content: "\f00d";
}
.messenger-type .inbox-search__input {
  padding-left: 0;
  max-width: 100%;
  background-color: transparent;
}
@media screen and (max-width: 992px) {
  .messenger-type .inbox-search {
    width: 100%;
  }
}

.messenger-inbox {
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 3px #e4e4e4;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.messenger-inbox__item {
  display: flex;
  align-items: center;
  padding: 5px;
  overflow: hidden;
}
.messenger-inbox__item:hover {
  background: #f2f4f7;
}
.messenger-inbox__item:hover .name {
  color: #111;
}
.messenger-inbox__item:hover .name > * {
  color: #111 !important;
}
.messenger-inbox__item:hover .message {
  color: #111;
  opacity: 0.8;
}
.messenger-inbox__item.new .message {
  font-weight: 600;
  color: #000;
  opacity: 1;
}
.messenger-inbox__item-preview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.messenger-inbox__item-preview .name {
  color: #606060;
  font-weight: 600;
}
.messenger-inbox__item-preview .message {
  display: flex;
  align-items: center;
  color: #606060;
  opacity: 0.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.messenger-inbox__item-preview .message .text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.messenger-inbox__item-preview .message .time {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}
.messenger-inbox__item-status {
  color: #e4e6eb;
  padding: 10px;
  padding-right: 5px;
  margin-left: auto;
}
.messenger-inbox__item-status .new-message {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #03a9f4;
  border-radius: 50%;
}
.messenger-inbox__item-status .seen > * {
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}

/*# sourceMappingURL=messenger.css.map */
