.section-comment {
  position: relative;

  .container {
    position: relative;
    padding-bottom: 20px;
  }

  .comment-background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgb(0 0 0 / 30%);
    transition: 0.3s all ease-in-out;
    text-align: center;
    z-index: 9999;
  }

  .comment-dialog {
    display: inline-block;
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    text-align: left;
    transition: 0.3s all ease-in-out;
    max-width: 1200px;
    margin: 0 10px;
    z-index: 9999;

    &.delete-comment {
      width: 100%;
      max-width: 500px;
    }

    &__title {
      padding: 10px;
      font-weight: 600;
      color: #333;
      padding: 20px 20px 0;
    }
    &__body {
      padding: 10px 20px;
    }
    &__footer {
      border-top: 1px solid #eee;
      padding: 10px;
      display: flex;
      align-items: center;
      .cancel,
      .submit {
        padding: 10px 16px;
        min-width: 50px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        + & {
          margin-left: 10px;
        }
        &:hover {
          opacity: 0.8;
        }
      }
      .cancel {
        margin-left: auto;
        &:hover {
          background-color: #eee;
        }
      }
      .submit {
        background-color: #333;
        color: #fff;
      }
    }
    .dialog-loading {
      display: none;
    }
    &.submiting {
      .dialog-loading {
        display: inline-block;
      }
      .cancel,
      .submit {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  .title-comment {
    padding: 30px 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #4a4a4a;
    span {
      font-weight: 600;
    }
  }

  .validate-error-message {
    margin-bottom: 10px;
    color: #c52600;
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 10px;
    background: #ffd5d1;
    border-radius: 10px;
  }

  .error-login {
    padding: 20px;
    background: #f1f3f4;
    border-radius: 10px 10px 0 0;
    a {
      color: #333;
      font-weight: 600;
    }
    &.round {
      border-radius: 10px;
    }
  }
  .comment-editor {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 0 0 {
      bottom: 20px;
    }
    textarea {
      background-color: #505050;
      color: #fff;
      border: 0;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }
  .comment-submit {
    display: flex;
    align-items: center;

    &__button {
      padding: 12px;
    }
    &__loading {
      display: none;
      div::after {
        background: #fff;
      }
      span {
        color: #fff;
        padding: 5px;
      }
    }
    &.submiting {
      .comment-submit__button {
        pointer-events: none;
        opacity: 0.5;
        .text {
          display: none;
        }
      }

      .comment-submit__loading {
        display: flex;
        align-items: center;
      }
    }
  }

  .comment-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #575757;
    padding: 10px;
    white-space: nowrap;
    margin-top: -5px;
    background: #fff;
    .animation-spinner {
      width: 40px;
      height: 40px;
      div {
        transform-origin: 20px 20px;
        &::after {
          background-color: #000000;
          top: 3px;
          left: 18px;
          width: 3px;
          height: 9px;
        }
      }
    }
    span {
      padding: 10px;
    }
  }

  .comment-container {
    padding: 10px;
    background-color: #fff;
    //border-top: 1px solid $border-color;
    border-radius: 0 0 10px 10px;

    .empty-comment {
      padding: 10px;
      text-align: center;
      color: #5a5a5a;
      background: rgb(205 205 205 / 20%);
      border-radius: 10px;
    }

    .error-comment {
      color: #e91e63;
      text-align: center;
      padding: 10px;
      background: #f1d8e0;
      border-radius: 10px;
    }

    .comment-item {
      padding: 0 10px;
      display: flex;
      flex-direction: row;
      align-items: start;
      position: relative;
      //transition: 1s background ease-in-out;
      border-radius: 10px;
      box-shadow: none;
      border: 0;

      &:last-child {
        padding-bottom: 0;
        .comment-wrapper {
          &.has-reply::before,
          &.focus-reply::before {
            bottom: 18px;
          }
        }
      }
      &.new-comment {
        // background: #f0f0f0;
      }
    }
    .comment-wrapper {
      width: 100%;
      margin-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;

      &.has-reply::before,
      &.focus-reply::before {
        content: "";
        position: absolute;
        left: 28px;
        top: 60px;
        bottom: 28px;
        width: 30px;
        border-style: solid;
        border-color: #f0f2f5;
        border-width: 0;
        border-bottom-left-radius: 16px;
        border-left-width: 2px;
        border-bottom-width: 2px;
      }

      &__body {
        display: flex;
        flex-direction: row;
        align-items: start;
        color: #050505;

        &-action {
          margin-left: 5px;
        }

        &-text {
          display: inline-block;
          max-width: 100%;
          min-width: 100px;
          background: #fff;
          border-radius: 10px;
          padding: 0;
          .username {
            display: flex;
            align-items: center;
            word-break: break-word;
            font-weight: 600;
            font-size: 1.1rem;
            a {
              &:hover {
                text-decoration: underline;
              }
            }
            .chapter {
              opacity: 0.8;
              text-overflow: ellipsis;
              overflow: hidden;
              &::before {
                content: "·";
                font-weight: 600;
                padding: 0 5px;
              }
              a {
                color: #444;
                font-size: 1rem;
              }
            }
          }
          .text {
            display: inline-flex;
            align-items: end;
            margin-top: 10px;
            padding: 10px 20px;
            background: #f8f9fa;
            border-radius: 10px;
            word-break: break-word;
            border: 1px dashed #dbdbdb;
            img {
              max-width: 100%;
              max-height: 300px;
              width: auto;
              height: auto;
              border-radius: 3px;
              &.comment-smiley-icon {
                max-height: 60px;
                max-width: 100%;
              }
            }
          }
        }
      }

      &__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 8px;
        color: #65676b;
        margin-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9rem;
        line-height: 0.9rem;

        .reply {
          cursor: pointer;
          font-weight: 600;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          &:hover {
            text-decoration: underline;
          }
          & + .time {
            margin-left: 10px;
          }
        }
        .time {
          opacity: 0.8;
          text-overflow: ellipsis;
          overflow: hidden;
          flex-shrink: 0;
        }
        .chapter {
          opacity: 0.8;
          text-overflow: ellipsis;
          overflow: hidden;
          &::before {
            content: "·";
            font-weight: 600;
            padding: 0 5px;
          }
        }
      }

      &__reply {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 10px;
        &.reverse {
          flex-direction: column-reverse;
        }

        .reply-hide-more {
          margin-bottom: 10px;
          color: #65676b;
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          i {
            position: relative;
            bottom: 2px;
            min-width: 10px;
          }
          span {
            padding: 0 5px;
          }
          &:hover span {
            text-decoration: underline;
          }
        }

        .reply-show-more {
          margin-bottom: 20px;
          color: #65676b;
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          i {
            position: relative;
            top: 3px;
            min-width: 16px;
            transform: rotate(90deg);
          }
          span {
            padding: 0 5px;
          }
          &:hover span {
            text-decoration: underline;
          }
        }

        .replies-loading {
          display: flex;
          align-items: center;
          &.hide {
            display: none;
          }
          .animation-spinner {
            div::after {
              background-color: #fff;
            }
          }
          span {
            color: #505050;
            padding: 5px;
          }
        }

        .comment-item {
          padding: 0;
          .comment-avatar {
            width: 28px;
            min-width: 28px;
            min-height: 28px;
            height: 28px;
            /*
                        &::before {
                            content: "";
                            position: absolute;
                            left: -42px;
                            top: -12px;
                            bottom: 0;
                            width: 40px;
                            height: 30px;
                            border-style: solid;
                            border-color: #3a3b3c;
                            border-width: 0;
                            border-bottom-left-radius: 16px;
                            border-left-width: 2px;
                            border-bottom-width: 2px;
                        }
                        */
          }

          & + .comment-item {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .comment-pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-flow: wrap;
    color: #4a4a4a;
    font-size: 1.2rem;
    line-height: 1.2rem;
    border-radius: 0 0 10px 10px;
    background: #fff;
    margin-top: -5px;
    padding: 10px {
      top: 0;
    }

    > div,
    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 4px 10px;
      font-weight: 600;
      margin-bottom: 5px;
      border-radius: 10px;
      min-width: 30px;
      min-height: 30px;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      border: 1px solid transparent;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:hover {
        background: #e1e2e7;
      }
      &.active {
        background: var(--primary-link);
        color: #fff;
      }
    }
    > div,
    span + div,
    span {
      margin-left: 5px;
    }
  }
}
