.DraggableListJS {
    &-draggable {
        user-select: none;
        img {
            pointer-events: none;
        }
    }
    &-placeholder {
        background-color: #edf2f7;
        border: 2px dashed #cbd5e0;
    }
    &-dragging {
        position: fixed;
        background: #fff;
        box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }
    &-handle {
        cursor: move;
        user-select: none;
    }
    &-index {
        padding-right: 10px;
    }
}