@use "sass:selector";

@use "variables" as *;
@use "mixins" as *;

.bookmark-type {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  position: relative;
  color: #4c4c4c;
  gap: 10px;

  &__button {
    display: inline-block;
    border-radius: 25px;
    padding: 6px 12px;
    color: #242424;
    background: #f1f3f4;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background: #d9d9d9;
      color: #333;
    }
    &.active {
      color: #fff;
      background: var(--primary-button-default);
      &:hover:not(.active) {
        background: #555;
      }
    }
  }
}

.manga-list-view {
  .list-view {
    .progress-bar {
      display: none;
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;
      z-index: 2;
    }
    &.mode--table {
      .progress-bar {
        position: relative;
        margin-top: 10px;
      }
    }
  }
}

.action-wrapper {
  display: flex;
  align-items: end;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.9rem;
  line-height: 0.9rem;
  padding: 8px;
  z-index: 2;
  .read {
    bottom: 5px;
    right: 5px;
    left: 5px;
    display: none;
    background-color: rgb(0 0 0 / 30%);
    white-space: nowrap;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    i {
      margin-right: 4px;
      color: $color-success;
    }
    &:hover {
      background: #fff;
      color: #333;
    }
  }
  .unread {
    bottom: 5px;
    right: 5px;
    left: 5px;
    display: none;
    white-space: nowrap;
    background: #ff9800;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    i {
      margin-right: 2px;
      color: #fff;
    }
    &:hover {
      background: #fff;
      color: #333;
      i {
        color: #ff9800;
      }
    }
  }
  .remove {
    top: 5px;
    right: 5px;
    background: $color-pink;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: auto;
    &:hover {
      background: #fff;
      color: $color-pink;
    }
  }
}
.bookmark-action {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  margin-bottom: 0.5rem;
  //padding-bottom: 10px;

  .read {
    display: none;
    margin-right: 10px;
    white-space: nowrap;
    color: #333;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
    i {
      margin-right: 4px;
      color: $color-success;
    }
    &:hover {
      background: #eee;
    }
  }
  .unread {
    display: none;
    margin-right: 10px;
    white-space: nowrap;
    color: #333;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
    i {
      color: $color-orange;
      margin-right: 2px;
    }
    &:hover {
      background: #eee;
    }
  }

  .remove {
    color: #333;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
    i {
      margin-right: 2px;
      vertical-align: middle;
      font-size: 1.2rem;
      line-height: 1.2rem;
      color: $color-pink;
    }
    &:hover {
      background: #eee;
    }
  }
}

.is-unread {
  .unread {
    display: block;
  }
}

.is-read {
  .read {
    display: block;
  }
}

.manga-list-view .list-view {
  &__item {
    &.is-unread {
      .list-view__item-image::before {
        //background: linear-gradient(to top, #9e9e9e, rgba(255, 255, 255, 0));
      }
    }
  }

  &.mode--table {
    .list-view__item {
      &-action {
        padding: 5px;
        min-height: 34px;
      }
      &:nth-of-type(2n + 1) {
      }
      @include responsive-max(992px) {
        &-team,
        &-status {
          display: none;
        }
        &-name {
          width: 40%;
        }
        &-chapter {
          width: 25%;
        }
        &-action {
          width: 35%;
        }
        .bookmark-action {
        }
      }

      @include responsive-max(576px) {
        &-team,
        &-status,
        &-chapter {
          display: none;
        }
        &-name {
          width: 60%;
        }
        &-action {
          width: 40%;
        }
      }
    }
  }
}
