@use "sass:selector";

@use "variables" as *;
@use "mixins" as *;

.notification-select {
  display: inline-block;
}

.notification-type {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  position: relative;
  color: #4c4c4c;
  padding-left: 5px;
  border-radius: 10px;
  margin: 0 {
    bottom: 10px;
  }

  .notification-status {
    &__button {
      display: inline-block;
      margin: 10px {
        top: 0;
        left: 0;
        right: 5px;
      }
      border-radius: 25px;
      padding: 6px 12px;
      color: #242424;
      background: #f1f3f4;
      &:last-child {
        margin-right: 0;
      }
      &:hover:not(.active) {
        background: #e1e1e1;
      }
      &.active {
        color: #fff;
        background: $primary-color;
      }
    }
  }
}

.notifications-list {
  overflow: hidden;
  border-radius: 10px;
  margin: 0 {
    bottom: 20px;
  }
  &__item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    color: #606060;

    .drop-menu {
      opacity: 0.6;
      margin-right: 5px;
    }

    &:hover {
      background: #f1f3f4;
      .drop-menu {
        opacity: 1;
      }
      .time {
        color: #111;
        opacity: 1;
      }
    }
    &.unseen {
      .text {
        color: $primary-color;
        font-weight: 600;
        opacity: 1;
      }
      .notification-list__item-status {
        display: inline-block;
      }
    }
    &-avatar {
    }
    &-preview {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .text {
        opacity: 0.9;
        font-weight: 400;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .time {
        margin-top: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.8rem;
      }
    }
    &-status {
      display: none;
      width: 10px;
      min-width: 10px;
      height: 10px;
      background-color: #03a9f4;
      border-radius: 50%;
      margin-left: auto;
    }
  }
}

.notification-nav {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  position: relative;
  color: #4c4c4c;
  margin: 0 {
    bottom: 10px;
  }
  &__back {
    color: #242424;
    background: #fff;
    padding: 8px 14px;
    border-radius: 50px;
    margin-right: 10px;
    &:hover {
    }
  }
  &__delete {
    display: inline-block;
    border-radius: 50px;
    padding: 10px 14px;
    color: #fff;
    background: $color-pink;
    border-color: #fff;
    border: 1px solid;
    margin-left: auto;
    cursor: pointer;
    &:hover {
      background: darken($color-pink, 10%);
    }
  }
}

.notifications-get {
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;

  &__info {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    color: #333;
    &-avatar > * {
      min-width: 50px;
      height: 50px;
      width: 50px;
      margin-left: 20px;
    }

    &-user {
      padding: 0 10px;
      .username {
        word-break: break-word;
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 600;
        margin-bottom: 5px;
      }
      .time {
        font-size: 0.9rem;
        opacity: 0.7;
      }
    }
  }
  &__content {
    padding: 20px;
    margin: 10px {
      top: 0;
    }
    border-radius: 10px;
  }
}
